body{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    top:0;
    background-color: rgb(37,37,37);
}

#logo{
    display: flex;
    height: 5rem;
    padding: 1rem 0 1rem 1rem;
    align-items: center;
}

#logo>img{
    padding: 1rem;
    height: 4rem;
}
#menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(37,37,37);
    color:rgb(232,232,232) ;
    padding: 0.5rem 0 0.5rem 0;
}
#menu>ul>a>li{
    display: flex;
    justify-content: space-between;
    height: 2rem;
    color: rgb(232,232,232);
}

a{
    text-decoration: none;
}

.banner-inicio{
    background-image: linear-gradient(rgba(5, 7, 12,0.75), rgba(5, 7, 12,0.75)), url('../img/banner.png');
}

.banner-impresion{
    background-image: linear-gradient(rgba(5, 7, 12,0.75), rgba(5, 7, 12,0.75)), url(../img/impresion.webp);
}

.banner-prototipado{
    background-image: linear-gradient(rgba(5, 7, 12,0.75), rgba(5, 7, 12,0.75)), url(../img/servicios/prototipado/banner.png);
}

.banner-fabricacion{
    background-image: linear-gradient(rgba(5, 7, 12,0.75), rgba(5, 7, 12,0.75)), url(../img/servicios/fabricacion/banner.jpg);
}

.banner-historia{
    background-image: linear-gradient(rgba(5, 7, 12,0.75), rgba(5, 7, 12,0.75)), url(../img/historia.jpg);
}

.historia{
    
    background-image: linear-gradient(rgba(5, 7, 12,0.75), rgba(5, 7, 12,0.75)), url(../img/historia2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#banner{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(232,232,232);
    padding: 1rem 0 2rem 0;
    
}

#banner-solo-titulo{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(232,232,232);
    height: 25rem;
}

#banner>h1{
    margin-bottom: 0;
    font-size: 3.5rem;
    padding: 0 5rem 0 5rem;
}

#banner>p{
    padding: 0 5rem 0 5rem;
}



.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    text-align: center;
    background-color: rgb(232,232,232);
    color: rgb(37,37,37);
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 0.75rem;
    border-radius: 1rem;

}

#contenedor-servicios>h2, #contenedor-nosotros>h2, #contenedor-creemos-juntos>h2, .impresion3d>h2, .prototipado-rapido>h2, .fabricaciones>h2, .historia-completa>h2{
    margin: 0;
    display: flex;
    height: 8rem;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    background-color: rgb(232,232,232);
    color: rgb(32,32,32);
}

.impresion3d>h2, .prototipado-rapido>h2, .fabricaciones>h2, .historia-completa>h2{
    padding: 1.5rem;
}

.impresiones, .prototipado, .fabricacion, .historia{
    background-color: rgb(37,37,37);
    color:rgb(232,232,232);
    padding: 1.5rem;
}

.impresiones>div, .prototipado>div, .divs-genericos>div, .fabricacion>div, .historia>div{
    display: flex;
    flex-direction: column;
    border-radius: 3rem;
}

.impresiones>div>img, .prototipado>div>img, .divs-genericos>div>img, .fabricacion>div>img{
    border-radius: 3rem;
}

.impresiones>p, .impresiones>ul>li, .prototipado>p, .fabricacion>p{
    list-style:none;
}
.prototipado>ul>li, .prototipado>ol>li, .fabricacion>ul>li, .fabricacion>ol>li {
    font-size: 1.25rem;
}

.li-sin-estilo{
    list-style:none;
}



.divs-genericos{
    background-color: rgb(37,37,37);
    color:rgb(232,232,232);
    padding: 1.5rem;
}
.tarjeta{
    display: flex;
    flex-direction: column;
    background-color: rgb(37,37,37);
    color:rgb(232,232,232);
    padding: 1.5rem;
}

.tarjeta>div{
    background-color: rgb(32, 32, 32);
    display: flex;
    margin: 1rem;
    padding: 3rem;
    flex-direction: column;
    border: 1rem;
    border-color: black;
    border-radius: 3rem;
}

footer{
    display: flex;
    flex-direction: column;
    background-color: rgb(32, 32, 32);
    color:rgb(232,232,232);
    padding: 1.5rem;
}

footer>h4{
    font-size: 1.5rem;
}
.logofooter{
    display: flex;
    height: 5rem;
}
.logofooter>img{
    height: 4rem;
}


footer>div>p>a, footer>div>a{
    color: rgb(232,232,232);
    text-decoration: none;
}



