
/* ESTE ESTILO SIRVE PARA TESTEAR SI NO HAY NADA QUE SOBRESALGA
* {
    outline: 1px solid red;
}

*/

/*  COMPATIBILIDAD CON IOS PARA QUE NO SE HAGA ZOOM*/
html{
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.25rem;
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    top:0;
    background-color: rgb(37,37,37);
}

#logo{
    display: flex;
    height: 5rem;
    padding: 1rem 0 1rem 1rem;
    align-items: center;
}

#logo>img{
    padding: 1rem;
    height: 4rem;
}

#boton-menu{
    display: flex;
    height: 2.5rem;
    margin-right: 2rem;
    cursor: pointer;
}



#menu{
    display: none;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(37,37,37);
    color:rgb(232,232,232) ;
    padding: 0.5rem 0 0.5rem 0;
}
#menu.show{
    display: flex;
}

#menu>ul>li{
    display: flex;
}

#menu>ul>li>a{
    height: 2rem;
    color: rgb(232,232,232);
    text-decoration: none;
}

a{
    text-decoration: none;
}

.banner-inicio{
    background-image: linear-gradient(rgba(5, 7, 12,0.75), rgba(5, 7, 12,0.75)), url('../img/banner.png');
}

.banner-impresion{
    background-image: linear-gradient(rgba(5, 7, 12,0.75), rgba(5, 7, 12,0.75)), url(../img/impresion.webp);
}

.banner-prototipado{
    background-image: linear-gradient(rgba(5, 7, 12,0.75), rgba(5, 7, 12,0.75)), url(../img/servicios/prototipado/banner.png);
}

.banner-fabricacion{
    background-image: linear-gradient(rgba(5, 7, 12,0.75), rgba(5, 7, 12,0.75)), url(../img/servicios/fabricacion/banner.jpg);
}

.banner-historia{
    background-image: linear-gradient(rgba(5, 7, 12,0.75), rgba(5, 7, 12,0.75)), url(../img/historia.jpg);
}

.banner-contacto{
    background-image: linear-gradient(rgba(5, 7, 12,0.75), rgba(5, 7, 12,0.75)), url(../img/contacto.jpeg);
}

.historia{
    
    background-image: linear-gradient(rgba(5, 7, 12,0.75), rgba(5, 7, 12,0.75)), url(../img/historia2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#banner{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(232,232,232);
    padding: 1rem 0 2rem 0;
    
}

#banner-solo-titulo{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(232,232,232);
    height: 25rem;
}

#banner>h1{
    margin-bottom: 0;
    font-size: 3.5rem;
    padding: 0 5rem 0 5rem;
}

#banner>p{
    padding: 0 5rem 0 5rem;
}



.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    text-align: center;
    background-color: rgb(232,232,232);
    color: rgb(37,37,37);
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 0.75rem;
    border-radius: 1rem;

}

#contenedor-servicios>h2, #contenedor-nosotros>h2, #contenedor-creemos-juntos>h2, .impresion3d>h2, .prototipado-rapido>h2, .fabricaciones>h2, .historia-completa>h2{
    margin: 0;
    display: flex;
    height: 8rem;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    background-color: rgb(232,232,232);
    color: rgb(32,32,32);
}

.impresion3d>h2, .prototipado-rapido>h2, .fabricaciones>h2, .historia-completa>h2{
    padding: 1.5rem;
}

.impresiones, .prototipado, .fabricacion, .historia{
    background-color: rgb(37,37,37);
    color:rgb(232,232,232);
    padding: 1.5rem;
}

.impresiones>div, .prototipado>div, .divs-genericos>div, .fabricacion>div, .historia>div{
    display: flex;
    flex-direction: column;
    border-radius: 3rem;
}

.impresiones>div>img, .prototipado>div>img, .divs-genericos>div>img, .fabricacion>div>img{
    border-radius: 3rem;
}

.impresiones>div>p, .impresiones>ul>li, .impresiones>div>ul>li, .prototipado>p, .prototipado>div>p, .fabricacion>p{
    list-style:none;
    font-size: 1.25rem;
}
.prototipado>ul>li, .prototipado>ol>li, .prototipado>div>ul>li, .prototipado>div>ol>li, .fabricacion>ul>li, .fabricacion>ol>li {
    font-size: 1.25rem;
}

.li-sin-estilo{
    list-style:none;
}



.divs-genericos{
    background-color: rgb(37,37,37);
    color:rgb(232,232,232);
    padding: 1.5rem;
}
.tarjeta{
    display: flex;
    flex-direction: column;
    background-color: rgb(37,37,37);
    color:rgb(232,232,232);
    padding: 1.5rem;
}

.tarjeta>div{
    background-color: rgb(32, 32, 32);
    display: flex;
    margin: 1rem;
    padding: 3rem;
    flex-direction: column;
    border: 1rem;
    border-color: black;
    border-radius: 3rem;
}

footer{
    display: flex;
    flex-direction: column;
    background-color: rgb(32, 32, 32);
    color:rgb(232,232,232);
    padding: 1.5rem;
}

footer>h4{
    font-size: 1.5rem;
}
.logofooter{
    display: flex;
    height: 5rem;
}
.logofooter>img{
    height: 4rem;
}


footer>div>p>a, footer>div>a{
    color: rgb(232,232,232);
    text-decoration: none;
}

#copy{
    display: flex;
    justify-content: end;
}


@media screen and (min-width: 768px) {
    /*
    #main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "banner banner banner";
    }*/

    #boton-menu {
        display: none;
    }

    #menu {
        background-color: rgb(29, 29, 29);
        display: flex;
        justify-content: center; 
        align-items: center;     
    }

    .menu{
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    .menu li{
        margin: 0 1rem 0 1rem;
    }

    #banner{
        display: flex;
        justify-content: center;
        align-items:flex-start;
        height: 40rem;
    }

    #banner-solo-titulo{
        height: 40rem;
    }

    .historia{
        display: flex;
        flex-direction: column;
        max-width: 100%;
        height: 100%;
        padding: 10rem;
    }

    

    #banner a{
        margin-left: 5rem;
    }

    .tarjeta, .divs-genericos{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    }

    .tarjeta>div{
        display: flex;
        justify-content: center;
        width: 20rem;
        height: 35rem;
    }

    
    .impresiones, .prototipado, .fabricacion, .divs-genericos{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto; /* Fila con el tamaño automático */
        align-items: start;
        gap: 1rem;
        grid-template-areas: 
        "hijo1 grupo"
        "hijo1 grupo";
    }
    .prototipado, .impresiones, .fabricacion, .divs-genericos{
        align-items: center;
    }
    .prototipado>.grupo, .fabricacion>.grupo, .divs-genericos>.grupo, .impresiones>.grupo{
        max-width: 35rem;
    }
    .hijo1 {
        grid-column: 1 / 2; /* La imagen va en la primera columna */
        align-items: end;
    }

    .hijo1 img {
        max-width: 35rem; /* Asegura que la imagen no se salga del contenedor */
    }

    
    
    

    
    


}


